@import './base.css';

#app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  display: grid;
}

a {
  text-decoration: none;
  color: rgb(37, 105, 250);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}
